In [ ]:
import sqlite3
import pandas as pd
import community
import networkx as nx

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from pathlib import Path
Path('pugalanthi_data.db').touch()

In [ ]:
import itertools
import community.community_louvain

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import sqlite3
conn = sqlite3.connect('pugalanthi_data.db')
c = conn.cursor()

In [ ]:
import pandas as pd
way = pd.read_csv('/content/drive/MyDrive/Assam location (1).csv')

In [ ]:
way.head(100)

,tweet_id,receiver_id,tweet_text,timestamp,District,location,name,hashtags,user_mentions
0,1.540000e+18,NaN,"RT @zuckmetaverse: Kabul Khan, Mithu Hussain L...",2022-07-05 13:08:07+00:00,Cachar,Bethukandi,IndicRWFollower ðŸ‡®ðŸ‡³,[],"[{'screen_name': 'zuckmetaverse', 'name': 'Arj..."
1,1.540000e+18,NaN,RT @the_hindu: President #RamNathKovind called...,2022-07-05 13:08:07+00:00,Cachar,Bethukandi,MD Shahjad,"[{'text': 'RamNathKovind', 'indices': [25, 39]}]","[{'screen_name': 'the_hindu', 'name': 'The Hin..."
2,1.540000e+18,NaN,RT @RatanSharda55: While we are debating #Amra...,2022-07-05 13:08:06+00:00,Cachar,Rammanikpur,àª¬à«àª°àª¿àªœà«‡àª¶ àªªàªŸà«‡àª² Brijesh Patel,"[{'text': 'Amravati', 'indices': [41, 50]}, {'...","[{'screen_name': 'RatanSharda55', 'name': 'Rat..."
3,1.540000e+18,NaN,RT @AbhishBanerj: Why is this not biggest news...,2022-07-05 13:08:02+00:00,Cachar,Rammanikpur,Apoorv Tyagi,[],"[{'screen_name': 'AbhishBanerj', 'name': 'Abhi..."
4,1.540000e+18,NaN,"RT @ErayCr: So, Assam floodsâ€”that claimed 17...",2022-07-05 13:08:01+00:00,Cachar,Rammanikpur,anon,[],"[{'screen_name': 'ErayCr', 'name': 'Eray Mridu..."
...,...,...,...,...,...,...,...,...,...
95,1.540000e+18,NaN,"RT @arunpudur: Assam : Kabul Khan, Mithu Hussa...",2022-07-05 13:01:10+00:00,Cachar,Rajnagar,Sneha Thakkar,[],"[{'screen_name': 'arunpudur', 'name': 'Arun Pu..."
96,1.540000e+18,NaN,RT @RashmiDVS: The man-made floods of Assam sh...,2022-07-05 13:01:06+00:00,Cachar,Rajnagar,roshan kumar ðŸ‡®ðŸ‡³,[],"[{'screen_name': 'RashmiDVS', 'name': 'Rashmi ..."
97,1.540000e+18,NaN,RT @ExSecular: Media not debating about this â...,2022-07-05 13:01:01+00:00,Cachar,Rajnagar,Nanda Kumthekar ðŸ‡®ðŸ‡³,[],"[{'screen_name': 'ExSecular', 'name': 'exsecul..."
98,1.540000e+18,NaN,RT @ShefVaidya: The Assam floods were man-made...,2022-07-05 13:00:50+00:00,Cachar,Rajnagar,PrabathðŸ‡®ðŸ‡³,[],"[{'screen_name': 'ShefVaidya', 'name': 'Shefal..."
99,1.540000e+18,NaN,RT @RashmiDVS: The man-made floods of Assam sh...,2022-07-05 13:00:49+00:00,Cachar,Rajnagar,Rashmi Samant,[],"[{'screen_name': 'RashmiDVS', 'name': 'Rashmi ..."

In [ ]:
# write the data to a sqlite table
way.to_sql('location', conn, if_exists='append', index = True)

In [ ]:
pd.read_sql('''SELECT * FROM location  ''', conn)

,index,tweet_id,receiver_id,tweet_text,timestamp,District,location,name,hashtags,user_mentions
0,0,1.540000e+18,NaN,"RT @zuckmetaverse: Kabul Khan, Mithu Hussain L...",2022-07-05 13:08:07+00:00,Cachar,Bethukandi,IndicRWFollower ðŸ‡®ðŸ‡³,[],"[{'screen_name': 'zuckmetaverse', 'name': 'Arj..."
1,1,1.540000e+18,NaN,RT @the_hindu: President #RamNathKovind called...,2022-07-05 13:08:07+00:00,Cachar,Bethukandi,MD Shahjad,"[{'text': 'RamNathKovind', 'indices': [25, 39]}]","[{'screen_name': 'the_hindu', 'name': 'The Hin..."
2,2,1.540000e+18,NaN,RT @RatanSharda55: While we are debating #Amra...,2022-07-05 13:08:06+00:00,Cachar,Rammanikpur,àª¬à«àª°àª¿àªœà«‡àª¶ àªªàªŸà«‡àª² Brijesh Patel,"[{'text': 'Amravati', 'indices': [41, 50]}, {'...","[{'screen_name': 'RatanSharda55', 'name': 'Rat..."
3,3,1.540000e+18,NaN,RT @AbhishBanerj: Why is this not biggest news...,2022-07-05 13:08:02+00:00,Cachar,Rammanikpur,Apoorv Tyagi,[],"[{'screen_name': 'AbhishBanerj', 'name': 'Abhi..."
4,4,1.540000e+18,NaN,"RT @ErayCr: So, Assam floodsâ€”that claimed 17...",2022-07-05 13:08:01+00:00,Cachar,Rammanikpur,anon,[],"[{'screen_name': 'ErayCr', 'name': 'Eray Mridu..."
...,...,...,...,...,...,...,...,...,...,...
7579,7579,1.540000e+18,NaN,RT @AbhishBanerj: Why is this not biggest news...,2022-07-05 05:28:56+00:00,Cachar,Subhang,: K .,[],"[{'screen_name': 'AbhishBanerj', 'name': 'Abhi..."
7580,7580,1.540000e+18,NaN,RT @AbhishBanerj: Why is this not biggest news...,2022-07-05 05:28:55+00:00,Cachar,Subhang,ThulasiramanðŸ‡®ðŸ‡³,[],"[{'screen_name': 'AbhishBanerj', 'name': 'Abhi..."
7581,7581,1.540000e+18,NaN,RT @AbhishBanerj: Why is this not biggest news...,2022-07-05 05:28:54+00:00,Cachar,Subhang,R pavan Kumar,[],"[{'screen_name': 'AbhishBanerj', 'name': 'Abhi..."
7582,7582,1.540000e+18,NaN,RT @AbhishBanerj: Why is this not biggest news...,2022-07-05 05:28:51+00:00,Cachar,Subhang,Abhishek,[],"[{'screen_name': 'AbhishBanerj', 'name': 'Abhi..."
7583,7583,1.540000e+18,NaN,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",2022-07-05 05:28:48+00:00,Cachar,Subhang,JayShreeRam Ketan Sojitra,"[{'text': 'KanhaiyaLal', 'indices': [35, 47]},...","[{'screen_name': 'ShefVaidya', 'name': 'Shefal..."

In [ ]:
import pandas as pd
# load the data into a Pandas DataFrame
ray = pd.read_csv('/content/drive/MyDrive/Assam pincode (1).csv')

In [ ]:
ray.head()

       Office location District  State Pincode
0     Aibheti   Nagaon   Nagaon  ASSAM  782002
1   Akorabori   Nagaon   Nagaon  ASSAM  782123
2  Alitangani   Nagaon   Nagaon  ASSAM  782124
3     Ambagan  Ambagan   Nagaon  ASSAM  782120
4      Ambari    Hojai   Nagaon  ASSAM  782445

In [ ]:
ray.to_sql('Pincode', conn, if_exists='append', index = True)

In [ ]:
connect = sqlite3.connect ('/content/pugalanthi_data.db')

In [ ]:
query = """
SELECT l.tweet_id, l.name, l.tweet_text, P.location, P.District, P.State, P.Pincode
FROM [location] AS l JOIN Pincode AS P ON l.location = P.location
ORDER BY l.location
 
"""

In [ ]:
df = pd.read_sql(query, connect)

In [ ]:
df.head(400)

,tweet_id,name,tweet_text,location,District,State,Pincode
0,1.540000e+18,Swithw Basumatary,RT @AbhishBanerj: Why is this not biggest news...,Angardhowa,Nalbari,ASSAM,781344
1,1.540000e+18,Priya Iyengar,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Angardhowa,Nalbari,ASSAM,781344
2,1.540000e+18,Geralt Of Rivia,"RT @ErayCr: So, Assam floodsâ€”that claimed 17...",Angardhowa,Nalbari,ASSAM,781344
3,1.540000e+18,shubham SAHU,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Angardhowa,Nalbari,ASSAM,781344
4,1.540000e+18,à¤®à¥à¤¨à¥à¤¨à¤¾ à¤¸à¤¿à¤‚à¤¹ (MUNNA SINGH),RT @AbhishBanerj: Why is this not biggest news...,Angardhowa,Nalbari,ASSAM,781344
...,...,...,...,...,...,...,...
395,1.540000e+18,satish.tanksale,RT @AbhishBanerj: Why is this not biggest news...,Belsor,Nalbari,ASSAM,781304
396,1.540000e+18,justShilpS,RT @AbhishBanerj: Why is this not biggest news...,Belsor,Nalbari,ASSAM,781304
397,1.540000e+18,justShilpS,RT @AbhishBanerj: Why is this not biggest news...,Belsor,Nalbari,ASSAM,781304
398,1.540000e+18,justShilpS,RT @AbhishBanerj: Why is this not biggest news...,Belsor,Nalbari,ASSAM,781304
399,1.540000e+18,Sujeet Kumar,RT @AbhishBanerj: Why is this not biggest news...,Belsor,Nalbari,ASSAM,781304

In [ ]:
df.tail(400)

,tweet_id,name,tweet_text,location,District,State,Pincode
1608,1.540000e+18,Nutan Kumar,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Dhemaji,Dhemaji,ASSAM,787026
1609,1.540000e+18,Nutan Kumar,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Dhemaji,Dhemaji,ASSAM,787057
1610,1.540000e+18,Nutan Kumar,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Dhemaji,Dhemaji,ASSAM,787057
1611,1.540000e+18,Nutan Kumar,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Dhemaji,Dhemaji,ASSAM,787057
1612,1.540000e+18,Nutan Kumar,"RT @ShefVaidya: In last few weeks, #KanhaiyaLa...",Dhemaji,Dhemaji,ASSAM,787057
...,...,...,...,...,...,...,...
2003,1.540000e+18,Saurabh Gada,RT @sunandavashisht: Assam: Mithu Hussain Lask...,Dhemaji,Dhemaji,ASSAM,787057
2004,1.540000e+18,Saurabh Gada,RT @sunandavashisht: Assam: Mithu Hussain Lask...,Dhemaji,Dhemaji,ASSAM,787057
2005,1.540000e+18,Saurabh Gada,RT @sunandavashisht: Assam: Mithu Hussain Lask...,Dhemaji,Dhemaji,ASSAM,787057
2006,1.540000e+18,Saurabh Gada,RT @sunandavashisht: Assam: Mithu Hussain Lask...,Dhemaji,Dhemaji,ASSAM,787057
2007,1.540000e+18,Saurabh Gada,RT @sunandavashisht: Assam: Mithu Hussain Lask...,Dhemaji,Dhemaji,ASSAM,787057